.selected-products {
  display: flex ; 
  align-items: flex-start;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  }
  
  .header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .header p {
    margin: 5px 0 20px;
    font-size: 14px;
    color: #666;
  }
  
  .tabs {
    display: flex;
    gap: 10px;
  }
  
  .tab-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button.active {
    background-color: #1c1c1c; /* Dark background for active */
    color: white;
    border-color: #1c1c1c;
  }
  
  .tab-button:hover {
    background-color: #f5f5f5;
  }
  